{deps, []}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               deprecated_function_calls,
               deprecated_functions]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{relx, [
    {release, {pipesock, "0.3.0"}, [pipesock, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},
    {overlay, [
        {mkdir, "log/sasl"},
        {copy, "bin/env", "bin/env"}
    ]}
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
        {include_erts, true}]}
    ]},
    {lint, [
        {plugins, [
            {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.10"}}}
        ]}
    ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [pipesock]}
]}.
